{% extends "base.html" %}

{% block content %}



<h1> Are you sure? </h1>
<p>{{ object.title }}</p>

<form method="POST"> {% csrf_token %}
    <button class="btn btn-danger"> Yes delete</button>
</form>

{% endblock %}